html, body {
  background-size: cover;
   font-family: "Open Sans" ;
   font-size: 18px;
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}

/*  NAVBAR  */
.navbar{
    background: #fff;
    border-radius: 0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #9e9e9e;
    position: fixed;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
    right: 0;
    left: 0;
    height: 50px;
    top: 0;
    z-index: 1;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
        color: #777;
}
.navbar-left {
    padding-right: 15px;
    padding-left: 85px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
}
.navbar-nav li a {
    color: #777; 
}
.navbar-brand:hover {
    color: #999
}
.navbarRight {
    margin-right: 30px;
    float: right;
    position: relative;
    display: block;
    padding: 13px 85px;
    color: #777;
}
.navbarRight ul {
    margin: 0;
}
.navbarRight li {
    margin: 0px 12px;
    display: inline-block;
}
.smoothScrolls {
    color: #777;
}
.smoothScrolls:hover {
    color: #999
}
a {
    text-decoration: none;
}

/*  FRONT PAGE  */
#image-back-main{
    background: url(cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden

}
#gradient-main{
    background: linear-gradient(141deg,rgba(0, 210, 255,0.5), rgba(213, 0, 249,0.5));
    color: #fff;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
#name{
    position: relative;
    top: 35%;
}
#name hr {
    width: 25%
}
hr{
    width: 50%;
    margin: 25px auto;
    background: #f1f1f1;
    height: 1px;
    border: 0;
    background: linear-gradient(to right,rgba(0,0,0,0),rgba(0, 210, 255,0.75),rgba(58, 123, 213,0.75),rgba(0,0,0,0));
}
#about {
    text-align: center;
    padding: 50px 0;
}
.button {
   /* background: linear-gradient(141deg, #00d2ff, #3a7bd5 ); */
    background: linear-gradient(141deg,rgba(0, 210, 255,0.5), rgba(213, 0, 249,0.5));
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
    color: #fff;
    padding: 6px 12px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}
.button:hover{
    box-shadow: 0 15px 16px 0 rgba(0,0,0,0.2);
    color: #fff;
}

/*  EXPERIENCE  */
.page-header{
    text-align: center;
    padding: 50px 0;
}
.exp {
    padding: 20px 0 20px;
    position: relative;
}
.exp:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
}
.exp li {
    margin-bottom: 20px;
    position: relative;
}
.exp li:before,
.exp li:after {
    content: " ";
    display: table; 
    clear: both;
}
.exp-panel {
    width: 30%;
    float: left;
    border-radius: 2px;
    padding: 20px;
    margin-left: 13%;
    position: relative;
    border: 1px solid transparent;
    border-image: linear-gradient(141deg, #00d2ff, #3a7bd5 );
    border-image-slice: 1;
    transition: all 0.3s ease-out;
    margin-top: -66px;
}
.exp-panel:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.exp-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}
.exp-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.badge {
    color: #fff;
    width: 50px;
    line-height: 50px;
    font-size: 25.2px;
    text-align: center;   
    margin: auto;
    background-color: #999999;
    z-index: 100;
    border-radius: 50%;
    margin-left: 48.2%

}
.badge.two {
    background-color: #2e6da4;
}
.exp-inverted .exp-panel {
    float: right;
    margin-right: 13%;
}
.exp-inverted .exp-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.exp-inverted .exp-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.exp-body {
    margin-top: 5px;
    margin-bottom: 0;
}
.date{
    text-align: center;
    color: #fff;
    background: linear-gradient(141deg, #00d2ff, #3a7bd5);
    border-radius: 5px;
    padding: 5px;
}

/*  CONTACT  */
#contact {
    text-align: center;
    padding: 50px 0 10px 0;
}
#footer {
    text-align: center;
    background-color: rgb(82, 172, 231);
}
#social-icons {
    text-align: center;
}
#social-icons a:hover{
    color: #f1f1f1;
    box-shadow: inset 0 -3px rgba(0, 0, 0, 0.16), inset 0 -3px rgba(0, 0, 0, 0.15);
    border-bottom: 0
}
#social-icons a {
    margin: 15px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20%;
    transition: 0.2s ease-in;
}
.fa-facebook {
    border-bottom: 2px solid #3b5998;
}
.fa-linkedin {
    border-bottom: 2px solid #0077b5;
}
.fa-facebook:hover {
    background: #3b5998;
}
.fa-linkedin:hover {
    background: #0077b5;
}

/* More Home Page*/

.more{
    background-color: slategray;
    background-image: url(bgimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

h1, h3 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/* page links */

.pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.csimg{
    width: 250px;
    height: 150px;
    margin: 0px;
    transition: 0.7s;
    border: solid 3px rgba(82, 172, 231, 0.7);
}

.csimg:hover{
    transform: scale(1.3);
    cursor: not-allowed;
}

/* robot */

.robots {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	display: flex;
	
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
	display: flex; 
	
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
}

.left_arm:hover{
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_arm { 
	margin-left: 10px; 
} 

.right_arm:hover{
	-webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
	transition: 5ms;
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.lower_body { 
	width: 200px; 
	height: 200px;
	margin: 0 auto;
	display: flex;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg { 
	margin-left: 45px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.right_leg { 
	margin-left: 30px; 
}

.right_leg:hover{
	-webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
} 

.left_eye { 
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}




